@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
  --font-josefin: "Josefin Sans", sans-serif;

}

.slick-dots .slick-active div {
    background-color: #3b82f6 !important;
}

.prdct .slick-dots .slick-active div{
  background-color: #FB2E86 !important;
}

.category .slick-dots .slick-active div{
  background-color: #FB2E86 !important;
}
